body {
   min-height: 400px;
   margin-bottom: 100px;
   font-family: 'Montserrat', sans-serif;
}

#header{
  background: linear-gradient(to bottom right,#128C7E,#1CD6C1);
}
.title{
  font-family: 'Lobster', cursive;
  font-size: 3.5em;
}
.subtitle{
  color:white;
}

.footer{
	font-size: 1em;
  bottom: 0;
  left: 0;
  width:100%;
  background-color: #F7F7F7;
}
.footer a{color: black;}
.footer a:link{color: black;}
.footer a:visited {color: black;}
.footer a:hover {color: gray;}
.footer a:active {color: black;}

* html .footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.container{
	width:100% !important;
	max-width:100% !important;
}