.title{
	font-family: 'Lobster', cursive;
	font-size: 3.5em;
}

.footer{
	font-size: 1.2em;
}
body {
   min-height: 400px;
   margin-bottom: 100px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   padding-top: 3%;
   padding-bottom: 3%;
}