#header{
	text-align: center;
}

#cardForm{
	text-align: center;
	margin:0 auto;
	display: flex;
	justify-content: center;
	margin-top:15%;
}

html{
	background-color: #25d366;
}
input{
	text-align: center;
}