#header{
	text-align: center;
}
#cardForm{
	text-align: center;
	margin:0 auto;
	display: flex;
	justify-content: center;
	margin-top:15%;
}
.footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
html{
	background-color: #25d366;
}