#header{
	text-align: center;
}

#url{
	display:none;
}

.cards{
	display:none;
	padding-bottom:1%; 
	background-image: url(../imgs/background_blur.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mainCard{
	text-align: center;
	margin:0 auto;
	color:white;
	font-size: 3em;
	padding-top:6%;
}

#textCard{
	text-align: center;
	margin:0 auto;
	color:white;
	font-size: 1.2em;
	margin-top: 6%;
	margin-bottom: 13%;
	width: 70%;
}
.btnZap{
	width: 16em;
	text-align: center;
	margin: 0 auto;
	margin-top: 1%;
}
#btns{
	padding-bottom: 7%;
}